# Node.js Backend
NODE_ENV=production
BACKEND_PORT=4000

# PostgreSQL Database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=production-pass
POSTGRES_DB=db-pass

# Redis Cache
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0

# API Configuration
API_SECRET_KEY=secret-key

REACT_APP_API_URL=http://localhost:4000